.switch {
  display: block;
  width: 36px;
  height: 18px;
  background-color: rgb(221, 221, 221);
  border-radius: 120px;
  position: fixed;
  top: 50px;
  left: 40px;
  cursor: pointer;
  border: 2px solid rgb(187, 187, 187);
}

.switch input {
  display: none;
}

.switch .slider {
  position: absolute;
  top: -7px;
  left: -12px;
  background-color: rgb(21, 85, 110);
  border: rgb(242, 246, 246) 2px solid;
  box-sizing: border-box;
  width: 32px;
  height: 32px;
  z-index: 555;
  border-radius: 100%;
  transition: 0.4s;
  -webkit-transition: 0.4s;
}

.slider {
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
}

input:checked + .slider {
  transform: translateX(24px);
  background-color: rgb(95, 173, 173);
  border: rgb(0, 0, 0) 2px solid;
}
